@media only screen and (max-width: 600px) {
  .logo {
      width: 50px;
      position: sticky; /* Make the navbar move with the page */
      margin-left: 0px;
  }
  body {
      font-size: 12px; /* Larger font size for mobile */
      text-align: center;
  }
}
body {
    width: 100%; /* This will ensure the body takes the full width of the viewport */
    height: 100%; /* This will make the body take the full height of the viewport */
    font-family: "Roboto Mono", monospace; /* Roboto as the primary font */
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.84); /* Semi-transparent black background */
    color: #FFFFFF; /* White text color */
    text-align: left; /* Left text alignment */
    margin-left: 135px;
    padding: 0; /* Padding around the content */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.logo {
  width: 70px;
  height: auto;
  position: sticky;
  top: 20px;
  left: 50px;
  }