* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.84);
  color: white;
  font-family: "Roboto Mono", monospace;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #01a624;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  .logo {
    width: 40px;
    position: static;
    left: 220px;
    top: 5px;
}
  #hamburger-icon {
    display: block;
  }
}
.logo {
  width: 40px;
  height: auto;
  position: absolute;
  top: 5px;
  left: 230px;
  }
  #home-intro p {
    color: #01a624; /* Green color */
    font-size: 45px; /* Larger font size */
    margin-top: 50px; /* Space from the top */
    margin-left: 100px;
    margin-right: 1000px;
    font-weight: bold; /* Bold text */
    text-align: center; /* Align text to the center */
    padding-left: 20px;
  }
  
  @media (max-width: 600px) {
    #home-intro p {
      text-align: center; /* Center text on mobile */
      padding: 20px; /* Padding around the text for mobile */
      font-size: 25; /*font size smaller on the phone */
      margin: 0px;
    }
  }